body{
    background-color: #1A0B2E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ==========google fonts======= */
*{
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.nav-content {
    max-width: 1200px;
    margin: 0 auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 16px;
 
}
.nav-logo {
font-size: 48px;
}

.nav-menu {
    display:flex;
    gap:32px;
    list-style: none;
    line-height: 120%;

    
}

.nav-menu,ul {
   font-size: 16px;
    color:white;
}
.nav-menu a{
    text-decoration: none;
}
.btn-sub {
display:inline-flex;
gap:6px
align-items:center;
padding:10px 10px;
border-radius:25px;
font-size:16px;
font-weight:700;
color:#ffffff;
background:linear-gradient( to right,#f7e93f, #fb09ba, #9100fb);
}
 
















/* ===========Responsive Section ======== */
/* ========Large Device: above 992 px========= */
@media screen  and (min-width:993px) {
    .hamburger{
        display:none;
    }
    .nav-menu{
        padding-right: 20px;
    }
    .nav-logo{
        padding-left: 20px;
    }
}






















/* =========== Medium device (Tablet) 576px to 992px======= */
@media screen and (min-width:577px) and (max-width:992px) {
    
}


























/* =======small device (mobile) up to 576px ===== */
@media screen and (max-width:576px) {
    .nav-menu {
       display:none;
    }
    
}