body{
    background-color: #1A0B2E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ==========google fonts======= */
*{
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
} 

.hidden {
     /* display: none;  */
}
/* ============Nav Section ============ */
.nav-content {
 max-width: 1200px; 
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
 align-items: center;

}
.nav-logo {
font-size: 48px;
border: 1px solid rgba(0,0,0,1);

}
.wave {
  background: linear-gradient(to right,#F7E93F,#FB09B4,#9100F8);
  background-clip:text;
  color: transparent;
}
.nav-menu {
    display:flex;
    gap:32px;
    list-style: none;
    line-height: 120%;

    
}

.nav-menu a {
   font-size:16px;
    line-height: 120%;
    color:#ffffff;
    width: 70px; height: 19px;
}
.nav-menu a {
    text-decoration: none;}

.btn-sub {
display:flex;
gap:6px;
align-items: center;
padding: 10px 10px;
border-radius:25px;
font-size:16px;
font-weight:700;
cursor: pointer;

background:linear-gradient( to right,#f7e93f, #fb09ba, #9100fb);
}
/* .btn-sub:hover{
    background-color:cyan ;
} */
 /* ============Benner Section====== */
 .banner-container{
    max-width:1200px;
    margin: 0 auto;
  
    /* height: 760px; */
 }
 /* .banner-content{
    width: 550px;
    height: 560px;
 } */
 .banner-img {
    /* width: 350px;
    height: 350px; */
     position: relative;
    
    
 }
 .new-badege {
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff88;
    color: #1A0B2E;
    padding: 8px 16px;
    border-radius:10px ;
   position:absolute;
    top:-590px;
  left:890px;
 
 }
 .hero-circle {
  position: absolute;
  top:-635px;
  left:630px;
  
 }


.microphone {
 position: absolute;
  top:-540px;
  left:730px;
  
  
}
.banner-content {
width:100%;


  
}
.banner-text, h1 {
 font-size:70px;
font-weight:800;
line-height: 73px;
color: #ffffff;
text-align: center; 
position: absolute;
  top:600px;
  left:620px;
  
}
.banner-text-p {
 font-size: 30px;

text-align: center;
color:#ffffff ; 
 position: absolute;
  top:700px;
  left:430px; 
  
}

.btn-sub {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600px;
    text-align: center;
}
.banner-btn button {
   display: inline-flex;
    font-size: 16px;
    color:#00ff88;
    border: 1px solid #00ff88;
    border-radius:2ch;
    gap:8px;
    padding: 12px 20px;
    background-color:#1A0B2E;
    text-align: center; 
   

}
.banner-btn{
     display:flex ;
   justify-content: center;
   align-items: center;
   gap:10px;
    position:relative;
    top:-50px;
    left:220px ;
}
    /* <!-- ============About Section =========== --> */
.about-container{
    max-width: 1200px;
     margin: 0 auto;
}
.about-content{
 padding: 50px 80px 200px 200px;
}
.head{
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
.p-text {
font-size: 16px;
line-height: 25px;
color: #ffffff;
text-align:center;
}
.card-box {
    padding:80px 120px 200px ;
    gap: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-box h2{
    font-size: 48px;
    font-weight: bold;
    color: #00ff88;

}
.card-box p{
    font-size: 16px;
    color: #ffffff;
}
 /* =======Choose Section =========== */
 .choose-box {
    background-color:chartreuse;
 }


/* ===========Responsive Section ======== */
/* ========Large Device: above 992 px========= */
@media screen  and (min-width:993px) {
    .hamburger{
        display:none;
       
    }
    .nav-container{
       display:;
        margin:20px 20px;}
    .nav-menu {
    
        padding-right:20px;
    }
    .nav-content {
       
    }
    .nav-logo {
        padding-left: 20px;
    }


 .banner-img{
    position: relative;
 }

.new-badege {
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff88;
    color: #1A0B2E;
    padding: 8px 16px;
    border-radius:10px ;
   position:absolute;
    top:-590px;
  left:890px;
 
 }
 .hero-circle {
  position: absolute;
  top:-635px;
  left:630px;
  
 }


.microphone {
 position: absolute;
  top:-540px;
  left:730px;
  
  
}
.banner-content {
width:100%;


  
}
.banner-text, h1 {
 font-size:70px;
font-weight:800;
line-height: 73px;
color: #ffffff;
text-align: center; 
position: absolute;
  top:600px;
  left:620px;
  
}
.banner-text-p {
 font-size:27px;

text-align: center;
color:#ffffff ; 
 position: absolute;
  top:690px;
  left:500px; 
  
}
.banner-btn{
     display:flex ;
   justify-content: center;
   align-items: center;
   gap:10px;
    position:relative;
    top:-70px;
    left:270px ;
}



    }





















/* =========== Medium device (Tablet) 576px to 992px======= */
@media screen and (min-width:577px) and (max-width:992px) {

     .hamburger{
        display: none;
    }
    .nav-container{
        margin: 15px 15px ;
    }
    
    .banner-img{
    position: relative;
 }

.new-badege {
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff88;
    color: #1A0B2E;
    padding: 8px 16px;
    border-radius:10px ;
   position:absolute;
    top:-590px;
  left:890px;
 
 }
 .hero-circle {
  position: absolute;
  top:-635px;
  left:630px;
  
 }


.microphone {
 position: absolute;
  top:-540px;
  left:730px;
  
  
}
.banner-content {



  
}
.banner-text, h1 {
 font-size:70px;

text-align: center; 
position: absolute;
  top:610px;
  left:620px;
  
}
.banner-text-p {
 font-size:28px;
color:#ffffff ; 
 position: absolute;
  top:700px;
  left:490px; 
  
}
.banner-btn{
     display:flex ;
   justify-content: center;
   align-items: center;
   gap:10px;
    position:relative;
    top:-50px;
    left:290px ;
}

}

   
























/* =======small device (mobile) up to 576px ===== */
@media screen and (max-width:576px) {
    .nav-menu {
       display:none;
  
    }
      .nav-menu, .btn-sub{
        display: none;
      }   
   
   .nav-content {
   
 display:flex;
 justify-content:space-between;
 align-items: center;
 padding:40px;
 
}
.banner-btn{
    /* /* display:flex ;
   justify-content:center;
   align-items:center; */
   /* gap:10px;
    margin-top: 32px; 
    margin-left: 200px; */ 
}
.banner-text {
/* margin-top:-250px;
margin-left:350px; */
}
.banner-text p {
/* font-size:30px;
line-height:30px; */


}

 }